<body class="gray-bg">

<div class='container'>
  <div class='row'>
    <br />
    <p><a href='/'>Home</a><p>
    <p>ID: <%= username %></p>
    <p>Username: <%= username %></p>
    <p>Name: <%= username %></p>
    <p>Email: <%= username %></p>
    <p><img alt="image" class="img-circle" src="" width="150" height="150" /></p>
  </div>
</div>
